.about-container{
    display: flex;
    flex-direction: column;
}
.main-head{
    height: 100px;
}

.logo {
    color: black;
}

.about-sec{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.photo-about{
    box-sizing: content-box;
}

.about-sec img{
    height: 100vh;
    width: 100%;
}

.text{
    padding: 100px 200px;
}

.text h1{
margin-bottom: 80px;
}
.text p{
    
    color: rgb(94, 94, 94);
    width: 500px;
    font-family: 'sans-serif';
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.text p:hover{
    color: rgb(189, 143, 28);
}

.footer{
    padding-top: 0;
    margin-top: 15px;
  
}

.logo_footer {
    margin-top: 0;
}
