.form-main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 700px;
}

.logo {
    color: white;
}

.form-box{
    align-self: center;
    height: 70%;
    width: 40%;
    background-color: black;
    border-radius: 20px;
    color: white;
    
}

.form-box ul{
    margin: auto;
    margin-top: 100px;
    display: flex;
    width: 50%;
    flex-direction: column;
    list-style-type: none;
    padding: 0;

}

.form-box li{
    margin-bottom: 10px;
}

input{
    padding: 15px 26px;
    width: 100%;
    background-color: black;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    color: white;
}

.last{
    width: 20px;
}

input:focus{
    border-bottom: 2px solid rgb(189, 143, 28);
}

.order-button{
    margin-top: 20px;
    margin-left: 22%;
    background-color: black;
    color: white;
    border: 1px white solid;
    outline: none;
    padding: 15px;
}

.order-button:active{
background-color: rgb(78, 78, 78);
}

.footer{
    margin-top: auto;
}