body{
    margin: 0;
    padding: 0;
}


.main-container{
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant';
    
}


.main-head {  
    display: flex;
    color: white;
    position: relative;
    height: 100vh;
    
}

.head-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
}



.logo p{
    font-family: 'Caveat';
    font-size: 56px;
    margin-top: 5px;
}

.order{
    color: white;
    font-size: 14px;
    position: absolute;
    right: 8%;
    margin-top: 10px;
    
}

.order-box{
    display: flex;
    background-color: black;
    width: 220px;
    height: 30px;
    padding: 15px;
}

.order-box a{
    align-self: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    
}
/* команда */
.team{
    background-color: white;
    color:black;
    display: flex;
    padding: 50px;
}

.team-text{
    
    margin-left: 13%;
    margin-top: 100px;
    padding: 20px;
}
.team-text h2{
    font-family: 'Cormorant';
}

 .team-text i + h2 {
   margin-top: 100px;
   font-weight: 100;
   font-size: 40px;
   color: rgb(43, 43, 43);
}

.team-text p{
    color: rgb(94, 94, 94);
    width: 500px;
   font-family: 'sans-serif';
   font-size: 20px;
   line-height: 1.5;
}

.team-photo{
margin-left: 5%;
}

.team-photo img{
    width: 500px;
    height: 700px;
}

/* menu */
.menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 16px;
    padding-bottom: 60px;
 
}

.menu-upper{
    display: flex;
    padding-bottom: 80px;
}

.menu-upper-article-box , .menu-list-box{
    padding: 60px ;
    padding-top: 80px;
    width: 50%;
    position: relative;
    height: 150px;
}

.menu-upper-article-box h2{
    position: absolute;
    left: 35%;
    color: rgb(43, 43, 43);
    font-weight: 100;
    font-size: 40px;
}

.menu-list{
    list-style-type: none;
    padding-top: 20px;
}

.menu-item a{
    text-decoration: none;
    font-family: 'sans-serif';
    font-weight: 100;
    font-size: 16px;
    color: rgb(99, 99, 99);
}

.menu-item a:hover{
    color: rgb(189, 143, 28);
}

.menu-bottom{
    display: flex;
}
.menu-bottom-sec-1{
    
    display: grid;
    width: 50%;
    grid-template-columns:48% 52%;
    grid-template-rows: 300px 300px;
    
}

.menu-bottom-sec-1 img{
    width: 100% ;
    height: 100%;
}

.menu-bottom-sec-1 p{
grid-column-start: 1;
grid-column-end: 3;

color: rgb(94, 94, 94);
font-family: 'sans-serif';
font-size: 18px;
line-height: 1.2;
text-align: center;
padding: 20px;
}
.menu-bottom-sec-2{
    width: 50%;
    height: 550px;
}

.menu-bottom-sec-2 img{
    height: 100%;
    width: 100%;
}

/* events */
.events{
    background-color: white;
    box-sizing: content-box;
    padding-bottom: 40px;
}


.carousel-item img{
    filter: brightness(0.5) ;
}

   
